@media (max-width: 750px) {
    .container {
        margin: 30px auto;
    }

    .main {
        grid-template-areas: 'conExercise1c'
            'conExercise2j'
            'conExercise3w'
            'conExercise4h'
            'conExercise5a';
    }

    table {
        font-size: 11px;
    }

    td {
        padding: 5px;
    }

    .firstTr {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .exerciseMain {
        .picExamples {
            .pictures {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    table {
        font-size: 9px;
    }

    td {
        padding: 3px;
    }

    .firstTr {
        font-size: 11px;
    }

}